<!DOCTYPE html>

<head>
</head>
<div ng-controller="getLocation" data-ng-init="init()">
    <div class="row">
        <form class="form-inline">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <div class="input-group">
                    <!--<div class="input-group-addon">Location</div>-->
                    <input type="text" class="form-control" ng-model="searchQuery" placeholder="Enter location">
                </div>
            </div>
            <div class="col-md-2">
                <select name="categorySelect" id="categorySelect" class="form-control"
                        ng-options="cat.name | ampersand for cat in categoriesData.category track by cat.id"
                        ng-model="category">
                    <option value="">Select Category</option>
                </select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary active" ng-click="search()">Search</button>
            </div>
        </form>

    </div>
    <br>
    <div class="row">

        <!-- <p> latitude : {{userlat}} </p>
         <p> longitude : {{userlong}} </p>-->

        <!--<p ng-show="visibility"> Search Query : {{searchQuery}} </p>-->
        <!-- <td> {{ event.latitude }}  </td>
                        <td> {{ event.longitude }}  </td>-->
        <!-- <div class="col-md-1"></div>-->
        <div class="col-md-4">
            <table class="table table-hover">
                <tr>
                    <th colspan="4"></th>
                    <th>Event</th>
                    <th>Where?</th>
                    <th>When?</th>
                </tr>
                <tr ng-repeat="event in eventDetails">

                    <td colspan="4">
                        <img ng-src="{{event.image}}" />
                    </td>
                    <td> {{ event.title }} </td>
                    <td> {{ event.venue_name }} </td>
                    <td> {{ event.start_time }} </td>
                </tr>
            </table>
        </div>

        <div class="col-md-8" id="map" map-lazy-load="http://maps.google.com/maps/api/js">
            <ng-map center="{{where}}" zoom="10" style="height: 400px">
                <marker position = "{{e.latitude}},{{e.longitude}}"
                        ng-repeat="e in eventDetails"
                        on-click="clickEventInfo(event,e)">
                </marker>
                <info-window id="map-event" position="{{mapEvent.latitude}},{{mapEvent.longitude}}">
                    <div ng-non-bindable="">
                        Event: {{mapEvent.title}}<br>
                        Where?: {{mapEvent.venue_name}}<br>
                        When?: {{mapEvent.start_time}}
                    </div>
                </info-window>
                <marker position="current-location"
                        icon="images/me.png"></marker>
                <info-window id="foo" position="current-location">
                    <div ng-non-bindable="">
                        <div>
                            Hi, You are here!
                        </div>
                    </div>
                </info-window>
            </ng-map>
        </div>
        <!-- <div class="col-md-1"></div> -->

        <!--   <div class="col-md-3">
               <pre ng-show="visibility"> {{eventDetails | json}}</pre>
           </div> -->

    </div>
</div>