<h2>Login</h2>

<label>Email: </label><br />
<input type="email" ng-model="loginUser.email"><br />

<label>Password: </label><br />
<input type="password" ng-model="loginUser.password"><br />

<button ng-click="login()">Login</button><br />

<hr />

<h2>Register</h2>

<div>
    <label>First name</label><br />
    <input type="text" ng-model="newUser.firstname"/><br />
    <label>Last name</label><br />
    <input type="text" ng-model="newUser.lastname" /><br />
    <label>Email</label><br />
    <input type="email" ng-model="newUser.email" /><br />
    <label>Password</label><br />
    <input type="password" ng-model="newUser.password" /><br />
    <label>Confirm</label><br />
    <input type="password" ng-model="newUser.confirmpassword" /><br />
    <button ng-click="register()">Submit</button>
</div>

<hr />

<a href="" ng-click="gotohome()">Go to home</a>